.DS_Store
**/.DS_Store

.avante_chat_history/*

.tmux/plugins/*
.api_key.txt
.zsh_secrets

# Ignore all __pycache__ directories
__pycache__/
*.py[cod]
.repro/
.config/nvim_bak
.config/scivim
.timewarrior/
.taskrc
