[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = yuvalspiegel1@gmail.com
	name = yuval
[credential]
	helper = /usr/local/bin/gh auth git-credential
