promptToReturnFromSubprocess: false
# os:
#   copyToClipboardCmd: "echo {{text}} | nc -N localhost 8377"
gui:
  showNumstatInFilesView: true
  nerdFontsVersion: "3"
  showFileIcons: true
  wrapLinesInStagingView: true
  showListFooter: true
  sidePanelWidth: 0.3333
  scrollHeight: 4
keybinding:
  universal:
    toggleRangeSelect: "v" # lowercase v for range select, frees V for paste
    nextScreenMode: "z" # z to cycle zoom modes
    undo: "Z" # shift-z for undo
    scrollUpMain: "<c-k>"
    scrollDownMain: "<c-j>"
    scrollUpMainAlt1: "" # disable K for scrolling
    scrollDownMainAlt1: "" # disable J for scrolling
  commits:
    openLogMenu: "<C-r>"
    moveDownCommit: "J"
    moveUpCommit: "K"
    pasteCommits: "V"

customCommands:
  - key: "<c-a>" # ctrl + a
    description: "pick AI commit"
    command: 'git commit -m "{{.Form.Msg}}"'
    context: "files"
    prompts:
      - type: "menuFromCommand"
        title: "AI Commits"
        key: "Msg"
        command: "bunx @m7medvision/lazycommit@latest"
        filter: '^(?P<number>\d+)\.\s(?P<message>.+)$'
        valueFormat: "{{ .message }}"
        labelFormat: "{{ .number }}: {{ .message | green }}"
