# Pomodoro runtime files
pomodoro/.pomodoro_history
pomodoro/.pomodoro_history_test
pomodoro/.reset_time
pomodoro/.current_title
pomodoro/.current_work_time
pomodoro/.current_break_time
pomodoro/.debug_mode
pomodoro/.daily_goal
pomodoro/*.pid
pomodoro/mode
pomodoro/.paused
pomodoro/current-task/*
.center_state
